* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

header {
    text-align: center;
    margin: auto;
    margin-top: 100px; 
}

header h1:first-of-type {
    font-weight: normal;
}

header p:first-of-type{
    margin-top: 20px;
}

.card {
    border-radius: 0.5rem;
    border: 1px solid black;
    box-shadow: 0 0.5rem 1rem -0.5rem #333;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.card img {
    margin-left: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media screen and (min-width: 800px) {
    header {
            width: 500px;
    }

    .wrapper{
        flex-direction: row;
        align-items: center;
    }

    .together{
        display: flex;
        flex-direction: column;
        gap: 20px;

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }
}