* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

header {
    text-align: center;
    margin: auto;
    margin-top: 100px; 
}

header h1:first-of-type {
    font-weight: normal;
}

header p:first-of-type{
    margin-top: 20px;
}

.card {
    border-radius: 0.5rem;
    border: 1px solid black;
    box-shadow: 0 0.5rem 1rem -0.5rem #333;
}

.card img {
    margin-left: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    margin: 0 20px 0;
}

@media screen and (min-width: 800px) {
    .wrapper{
        grid-template-areas: 
        "..... team ....."
        "super team calc"
        "super karma calc"
        "...... karma ....."
        ;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 150px 0;
    }

    header {
        width: 500px;
    }

    .card:nth-of-type(1) {
        grid-area: super;
    }
    
    .card:nth-of-type(2) {
        grid-area: team;
    }
    
    .card:nth-of-type(3) {
        grid-area: karma;
    }
    
    .card:nth-of-type(4) {
        grid-area: calc;
    }
}